.container {
	color: white;
	padding: 20px;
	background: black;
	border-radius: 10px;
}
.text-input {
	height: 30px;
	width: 200px;
	font-size: 15px;
	vertical-align: middle;
	margin-right: 10px;
	padding: 0 5px;
}
i.icon {
	height: 20px;
	width: 20px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	vertical-align: middle;
}
.text {
	margin-top: 20px;
}
